Language: C
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
UseTab: Never

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None

# Alignment
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

# Spaces
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpacesInParentheses: false

# Includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*>'
    Priority: 1
  - Regex: '^".*"'
    Priority: 2

# Pointers
PointerAlignment: Left
