# Project specific ignores
Ch01/exe_2
Ch02/basics_01
Ch02/basics_02
Ch02/basics_03
Ch02/basics_04
Ch02/basics_05
Ch02/basics_06
Ch02/basics_07
Ch02/basics_08
Ch02/basics_09
Ch02/basics_10
Ch02/basics_11
Ch02/basics_12

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
